/* @media screen and (max-width:1313px) {
    .gif-container{
    width: 80%;
    height:80%;
    }

} */

@media screen and (max-width:1124px) {
    h1 {
        font-size: 2rem;
        font-weight: 700;
    }

    p {
        font-size: 1.25rem;
        font-weight: 500;
    }

    .container {
        max-width: 95%;
    }
    .features {
        
    height: fit-content;
    padding-block: 10px;
        
    }


}

@media screen and (max-width:1115px) {
     .hero{
        transform: translateY(25vh);
    } 
    header{
        height: 80vh;
    }
    #img1{
        width: 90%;
       
    }
    .f1-heading{
        margin-bottom: 40px;
    }
    #vid1{max-width: 80%;}
    #img2{width: 90%;}
    #vid2{max-width: 80%;}
    
    #img4{
        width: 90%;
    }
    .girl-img{
        width: 90%;
    }
    .features {
        flex-direction: column;
        text-align: center;
        /* height: 90vh; */
        margin-block: 40px;
        gap: 20px;
    }

    .vid-img {
        transform: translate(-50%, -50%);
    }

    section:nth-child(2) .features {
        flex-direction: column-reverse;
    }

    section:nth-child(4) .features {
        flex-direction: column-reverse;
    }

    .mini-form {
        width: 100%;
    }

    .column a {
        width: calc(25% - 20px);


    }

    .column {
        gap: 20px;
    }
}
@media screen and (max-width:648px) {
    .content{
        gap: 10px;
        transform: translateY(-250%);
    }
}
@media screen and (max-width:794px) {
    /* header{
        height: 90vh;
    } */
    .hero{
        transform: translateY(15vh);
    } 
    header{
        height: 70vh;
    }
    .content{
        gap: 10px;
        transform: translateY(25%);
    }
    .logo img {
        width: 7.5rem;
        
    }

    :root {
        --padding-inline: 10px;
    }

    .column a {
        width: 30%;
    }
}

@media screen and (max-width:600px) {
    /* header{
        height: 60vh;
    } */

    .mini-form {
        flex-direction: column;
    }
    .content{
        transform: translateY(-10%);
    }
    #email-input {
        width: 90%;
    }

    
    .column a {
        width: calc(50% - 10px);

    }

    .primary-button {
        width: fit-content;
        font-size: 1.25rem;
        margin: 10px;
    }
    span{
        display: none;
    }
    .question-cards a{
        font-size: 1rem
    }
    .question-cards i{
        font-size: 1rem
    }

}
@media screen and (max-width:415px) {
    h1 {
        font-size: 1.5rem;
        font-weight: 700;
    }

    p {
        font-size: 1rem;
        font-weight: 500;
    }

    .container {
        max-width: 95%;
    }

    .question-cards a{
        font-size: 1.25rem
    }
    .question-cards i{
        font-size: 1.25rem
    }
    .column a {
        width: 100%;

    }
}